<div class="header">
  <div class="container-fluid my-4">
    <button id="hamburger-icon" (click)="openNavbar()" class="d-flex d-md-none">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div
      class="mobile-navbar d-flex d-md-none p-4 align-items-start"
      [ngClass]="{ open: isActive }"
    >
      <button id="close-icon" (click)="closeNavbar()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <ul class="mobile-navbar-list list-style-none">
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="business" routerLinkActive="active"
            >Business</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link"
            routerLink="entertainment"
            routerLinkActive="active"
            >Entertainment</a
          >
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="general" routerLinkActive="active"
            >General</a
          >
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="health" routerLinkActive="active"
            >Health</a
          >
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="science" routerLinkActive="active"
            >Science</a
          >
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="sports" routerLinkActive="active"
            >Sports</a
          >
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="technology" routerLinkActive="active"
            >Technology</a
          >
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="aboutMe" routerLinkActive="active"
            >About Me</a
          >
        </li>
      </ul>
    </div>
    <div
      class="align-items-md-center align-items-start d-flex justify-content-md-between flex-column flex-md-row justify-content-center"
    >
      <div class="d-flex col-12 col-md-4">
        <a href="index.html" class="site-logo">Nilay Bezirci </a>
      </div>
      <div class="searchGrup d-flex col-12 col-md-8">
        <div class="ml-md-auto top-social d-none d-md-inline-block">
          <ul>
            <a href="#" class="d-inline-block p-3"
              ><span class="icon-facebook"
                ><i
                  class="fa-brands fa-facebook"
                  style="color: #000000"
                ></i></span
            ></a>
            <a href="#" class="d-inline-block p-3"
              ><span class="icon-twitter"
                ><i
                  class="fa-brands fa-twitter"
                  style="color: #000000"
                ></i></span
            ></a>
            <a href="#" class="d-inline-block p-3"
              ><span class="icon-instagram"
                ><i
                  class="fa-brands fa-instagram"
                  style="color: #000000"
                ></i></span
            ></a>
          </ul>
        </div>
        <div class="div col-md-6 col-12">
          <app-search (searchEvent)="searchNews($event)"></app-search>
        </div>
      </div>
    </div>

    <!--Navbar start -->
    <nav class="navbar w-100 d-none d-md-flex">
      <ul
        class="navbar-list col-lg-10 col-12 col-xl-8 d-flex align-items-center justify-content-between"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="business" routerLinkActive="active"
            >Business</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="entertainment"
            routerLinkActive="active"
            >Entertainment</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="general" routerLinkActive="active"
            >General</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="health" routerLinkActive="active"
            >Health</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="science" routerLinkActive="active"
            >Science</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sports" routerLinkActive="active"
            >Sports</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="technology" routerLinkActive="active"
            >Technology</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutMe" routerLinkActive="active"
            >About Me</a
          >
        </li>
      </ul>
    </nav>

    <app-search-content
      [articles]="searchResults"
      [searchQuery]="searchQuery"
    ></app-search-content>
  </div>
</div>
