<div class="site-section">
  <div class="container">
    <div class="col-12">
      <!-- Business -->
      <h5><small>Categories</small></h5>
      <h5>
        <u>Business</u>
      </h5>
      <div
        class="row d-flex mt-3"
        *ngFor="
          let business of businessResult
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: currentPage,
                  totalItems: businessResult.length
                }
        "
      >
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              <div class="post-entry-2">
                <div class="contents order-md-1 pl-0">
                  <h6>{{ business.title }}</h6>
                  <p class="mb-3">{{ business.description }}</p>
                  <div class="post-meta">
                    <span class="d-block">{{ business.author }} in News</span>
                    <span class="date-read">
                      <span class="mx-1">&bullet;</span> 3 min read
                      <span class="icon-star2"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 categoriesPost">
              <img src="{{ business.urlToImage }}" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination Controls -->
      <pagination-controls
        (pageChange)="currentPage = $event"
      ></pagination-controls>

      <!-- Entertainment -->
      <h5><small>Categories</small></h5>
      <h5><u>Entertainment</u></h5>
      <div
        class="row d-flex mt-3"
        *ngFor="
          let entertainment of entertainmentResult
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: currentPage,
                  totalItems: entertainmentResult.length
                }
        "
      >
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              <div class="post-entry-2 d-flex flex-md-row flex-column">
                <div class="contents order-md-1 pl-0">
                  <h6>{{ entertainment.title }}</h6>
                  <p class="mb-3">{{ entertainment.description }}</p>
                  <div class="post-meta">
                    <span class="d-block"
                      >{{ entertainment.author }} in News</span
                    >
                    <span class="date-read">
                      <span class="mx-1">&bullet;</span> 3 min read
                      <span class="icon-star2"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 categoriesPost">
              <img
                src="{{ entertainment.urlToImage }}"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination Controls -->
      <pagination-controls
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
